<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatórios - ATACADINHO</title>
    <link rel="stylesheet" href="../../styles/registros/relatorios.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <!-- Cabeçalho do Site -->
     <header class="container-header">
        <img src="../../../src/assets/img/senac_logo.png" alt="Logo do Senac">
        <hr>
        <p>ATACADINHO</p>
        <div class="botoes-navegacao">
            <hr>
            <a href="../../../src/views/pdv/pdv.html">
                <button class="botao-navegacao" title="Ponto de Vendas (F1)">PDV (F1)</button>
            </a>
            <hr>
            <a href="../../../src/views/user/login.html">
                <button class="botao-navegacao" title="Login (F2)">LOGIN (F2)</button>
            </a>
            <hr>
            <a href="../../../src/views/registros/relatorios.html">
                <button class="botao-navegacao" title="Relatórios (F3)">RELATÓRIOS (F3)</button>
            </a>
            <hr>
            <a href="../../../src/views/cadastros/cadastroDeProdutos.html">
                <button class="botao-navegacao" title="Cadastro de Produtos (F9)">CADASTRO (F9)</button>
            </a>
            <hr>
            <a href="../../../src/views/registros/listagem-Produtos.html">
                <button class="botao-navegacao" title="Listagem de Produtos (F10)">LISTAGEM (F10)</button>
            </a>
            <hr>
        </div>
    </header>
    

<!-- Tpitulo Relatórios junto com os botões que muda para as outras tabelas -->
    <main class="container-principal">
        <section class="container-btn">
            <p>Relatórios</p>
            <nav>
                <ul>
                    <li class="btn-relatorio">
                        <button id="caixa_atual">Caixa Atual</button>
                    </li>
                    <li class="btn-relatorio">
                        <button id="caixas_anteriores">Caixas Anteriores</button>
                    </li>
                    <li class="btn-relatorio">
                        <button id="vendas">Vendas</button>
                    </li>
                    <li class="btn-relatorio">
                        <button id="extrato">Extrato</button>
                    </li>
                    <li class="btn-relatorio">
                        <button id="produtos">Produtos</button>
                    </li>
                </ul>
            </nav>
        </section>

        <!-- Filtro da tabela -->
        <section class="container-filtro">
            <select id="filtro" name="filtro">
                <option disabled selected>Filtro</option>
                <option value="data">Data</option>
                <option value="produto">Produto</option>
                <option value="codigo">Código</option>
                <option value="vendedor">Vendedor(a)</option>
            </select>
            <input type="text" id="input-filtro" name="input-filtro" placeholder="Pesquisa..">
        </section>

       <!-- Tabela 1 de Vendas -->
        <section class="container-tabela">
        </section>

        <!--* ------------------ GRÁFICO E CAMPO DE RESUMO ------------------->
         <section class="container-grafico-resumo">
            <section class="container-grafico">
                <canvas id="salesChart"></canvas>
              </section>

           <!-- Resumo -->
                <article class="modal" >
                    <header class="modal-cabecalho">
                        <h2>Movimentação</h2>
                    </header>
                    <section class="modal-corpo">
                        <div class="item-venda">
                            <div class="detalhes-venda">
                                <span class="ponto-azul"></span>
                                <span class="valor-venda">R$ 150,00</span>
                                <span class="hora-venda">10:00</span>
                            </div>
                            <span class="forma-pagamento">Pix</span>
                            <span class="forma-pagamento">Caixa Aberto</span>
                            <hr>
                        </div>
                        <div class="item-retirada">
                            <div class="detalhes-retirada">
                                <span class="ponto-vermelho"></span>
                                <span class="valor-retirada">- R$ 40,00</span>
                                <span class="hora-retirada">11:30</span>
                            </div>
                            <span class="motivo-retirada">Retirada para troco</span>
                            <hr>
                        </div>
                        <div class="item-retirada">
                            <div class="detalhes-retirada">
                                <span class="ponto-vermelho"></span>
                                <span class="valor-retirada">- R$ 40,00</span>
                                <span class="hora-retirada">11:30</span>
                            </div>
                            <span class="motivo-retirada">Retirada para troco</span>
                            <hr>
                        </div>
                        <div class="item-venda">
                            <div class="detalhes-venda">
                                <span class="ponto-azul"></span>
                                <span class="valor-venda">R$ 100,00</span>
                                <span class="hora-venda">12:00</span>
                            </div>
                            <span class="forma-pagamento">Dinheiro</span>
                            <hr>
                        </div>
                        <div class="item-venda">
                            <div class="detalhes-venda">
                                <span class="ponto-azul"></span>
                                <span class="valor-venda">R$ 100,00</span>
                                <span class="hora-venda">12:00</span>
                            </div>
                            <span class="forma-pagamento">Dinheiro</span>
                            <hr>
                        </div>
                        <div class="item-venda">
                            <div class="detalhes-venda">
                                <span class="ponto-azul"></span>
                                <span class="valor-venda">R$ 100,00</span>
                                <span class="hora-venda">12:00</span>
                            </div>
                            <span class="forma-pagamento">Dinheiro</span>
                            <hr>
                        </div>
                        <div class="item-venda">
                            <div class="detalhes-venda">
                                <span class="ponto-azul"></span>
                                <span class="valor-venda">R$ 100,00</span>
                                <span class="hora-venda">12:00</span>
                            </div>
                            <span class="forma-pagamento">Dinheiro</span>
                            <hr>
                        </div>
                        <div class="item-venda">
                            <div class="detalhes-venda">
                                <span class="ponto-azul"></span>
                                <span class="valor-venda">R$ 100,00</span>
                                <span class="hora-venda">12:00</span>
                            </div>
                            <span class="forma-pagamento">Dinheiro</span>
                            <hr>
                        </div>
                        <div class="item-venda">
                            <div class="detalhes-venda">
                                <span class="ponto-azul"></span>
                                <span class="valor-venda">R$ 100,00</span>
                                <span class="hora-venda">12:00</span>
                            </div>
                            <span class="forma-pagamento">Dinheiro</span>
                            <hr>
                        </div>
                        <div class="item-venda">
                            <div class="detalhes-venda">
                                <span class="ponto-azul"></span>
                                <span class="valor-venda">R$ 100,00</span>
                                <span class="hora-venda">12:00</span>
                            </div>
                            <span class="forma-pagamento">Dinheiro</span>
                            <hr>
                        </div>
                    </section>
                    <footer class="modal-rodape">
                        <span>Total de Vendas: R$ 250,00</span><br>
                        <span>Total de Retiradas: - R$ 80,00</span>
                    </footer>
                </article>
         </section>


         <!-- * -------------------------- GRÁFICO DE PIZZA ---------------------- -->
          <section class="container-pizza">
            
            <div class="container-grafico-pizza">
                <canvas id="myPieChart" width="400" height="400"></canvas>
             </div>

            <div class="modal-container">
                <!-- Resumo -->
                <article class="modal-pizza">
                    <header class="modal-cabecalho">
                        <h2>Extrato</h2>
                    </header>
                    <section id="modal-Extrato-Pizza" class="modal-corpo">
                        <!-- Dados inseridos dinamicamente atraves do arquivo relatorio.js linha 344 -->
                    </section>
                    <footer class="modal-rodape">
                        <span>Total de Vendas: R$ 250,00</span><br>
                        <span>Total de Retiradas: - R$ 80,00</span>
                    </footer>
                </article>
            </div>
     </section>       

     <!-- * -------------------------- GRÁFICO DE TRANSAÇÕES ------------------------- -->

     <section class="container-transacoes">
        <section>
            <canvas class="transacoes-grafico" id="myChart" width="400" height="200"></canvas>
         </section>

           <!-- Resumo -->
           <article class="modal" >
            <header class="modal-cabecalho">
                <h2>Transações</h2>
            </header>
            <section id="modal-corpo" class="modal-corpo">
                                
            </section>
            <!-- <footer class="modal-rodape">
                <span id="span-total-vendas">Total de Vendas: R$ 250,00</span><br>
                <span>Total de Retiradas: - R$ 80,00</span>
            </footer> -->
        </article>
     </section>

     



</main>
    <script type="module" src="../../frontend/relatorios.js"></script>
</body>
</html>
