@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
}

/* ? - Presets */

.displayFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  max-width: 100%;
  width: 96%;
}


/* & - Variaveis */

:root {

  /* TODO - Cores */

  --cor-principal: #708C89;
  --cor-secundaria: #D9C091;
  --cor-cinza: #D9D9D9;
  --cor-branca: #FFFFFF;

  /* ! - Fontes */

  --fonte-menor: 1rem;
  --fonte-media: 2rem;
  --fonte-maior: 3rem;

}


/* Header */

#header-container {
  background-color: var(--cor-secundaria);
  height: 12vh;
  width: 100%;
}

.banner {
  padding-top: 15px;
  background-color: var(--cor-principal);
}

.banner h1 {
  color: var(--cor-branca);
  font-size: var(--fonte-media);
}

/* Main */

#main-container {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  width: 100%;
  gap: 50px;
}


/* form */

form {
  width: 90%;
}

input {
  width: 90%;
  border: none;
  outline: none;
}



.wrapper_grid {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  gap: 20px;
  max-width: 1080px;
  width: 100%;
}

.form-lg {
  align-items: start;
  background-color: var(--cor-cinza);
  padding: 20px;
  grid-column-start: 1;
  grid-column-end: 4;
  height: 150px;
}

.forms-group {
  align-items: start;
  background-color: var(--cor-cinza);
  height: 130px;
  width: 350px;
  padding: 20px;
}

#btn-group {
  align-items: center;
}

.btn-group {
  gap: 15px;

}

.btn-group button {
  color: var(--cor-branca);
  background-color: var(--cor-principal);
  border-radius: 5px;
  width: 130px;
  height: 60px;
  border: none;
}

.btn-group button:hover {
  background-color: #87A09D;
}

#close-modal {
  color: var(--cor-principal);
  background-color: var(--cor-branca);
  border: 3px solid var(--cor-principal);
}

#close-modal:hover {
  color: var(--cor-principal);
  background-color: var(--cor-cinza);
}

.table-btn{
  color: var(--cor-branca);
  background-color: var(--cor-principal);
  border-radius: 5px;
  width: 250px;
  height: 50px;
  border: none;
  text-decoration: none;
  text-align: center;
  font-size: 1.3rem;
}

.table-btn:hover{
  background-color: #87A09D;
}