<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Produtos</title>
    <link href="../../styles/tabelas/tabela_de_produtos.css" rel="stylesheet">
</head>
<!-- Tela desenvolvida por Davi e Elizabeth-->

<body>
    <header class="topo">
        <div class="topo-decoracao">
            <h1 class="topo-titulo">PRODUTOS</h1>
        </div>
    </header>

    <section class="container">
        <!-- Filtro de produtos -->
        <div class="container-pesquisa">
            <header id="filtroTitle">
                <h2>Filtro</h2>
            </header>
            <form id="filtroForm" class="form-pesquisa">

                <div class="row">
                    <div class="columns">
                        <label for="nome" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="nome" placeholder="Digite o nome">
                    </div>
                    <div class="columns">
                        <label for="categorias" class="form-label">Categoria</label>
                        <select class="form-control" id="categorias">
                            <option value="">Todas</option>
                            <!-- Adicione outras opções aqui -->
                        </select>
                    </div>
                    <div class="columns">
                        <label for="ordenar" class="form-label">Ordenar</label>
                        <select class="form-control" id="ordenar">
                            <option value="asc">De A-Z</option>
                            <option value="desc">De Z-A</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="columns">
                        <label for="codigoProduto" class="form-label">Código de Barras</label>
                        <input type="number" class="form-control" id="codigoProduto"
                            placeholder="Digite o código de barras">
                    </div>
                    <div class="columns">
                        <label for="valor" class="form-label">Valor</label>
                        <input type="number" class="form-control" id="valor" placeholder="Digite o valor">
                    </div>
                    <div class="columns">
                        <label for="dataCadastro" class="form-label">Data de Cadastro</label>
                        <input type="datetime-local" class="form-control" id="dataCadastro">
                    </div>
                </div>
            </form>

        </div>
    </section>

    <main>

        <!-- Botão para adicionar produto -->
        <div class="btn-adicionar">

            <a id="addProduto" class="btn row" href="../cadastros/cadastro_produtos.html">Adicionar Produto</a>
            <a class="btn row" href="../tabelas/tela_caixa.html">Tela de Compras</a>
        </div>
        <!-- Tabela de produtos -->
        <section class="tabela-container">
            <div class="tabela-fundo">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Código</th>
                            <th>Valor</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody id="productList">
                        <!-- Produtos serão inseridos aqui -->
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Código</th>
                            <th>Categoria</th>
                            <th>Valor</th>
                            <th>Ações</th>
                        </tr>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Código</th>
                            <th>Categoria</th>
                            <th>Valor</th>
                            <th>Ações</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </main>
    <script src="../../frontend/tabela_produto_renderer.js"></script>
</body>

</html>