<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caixa</title>
    <link rel="stylesheet" href="../../styles/tabelas/tela_caixa.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lalezar&display=swap" rel="stylesheet">
</head>

<body>
    <header class="topo">
        <div class="topo-decoracao">
            <h1>ATACADINHO LIVRE</h1>
        </div>
    </header>
    <main class="conteudo-principal">
        <div class="conteiner">
            <section class="section-campo">
                <div class="div-campo">
                    <label for="codigo" class="text-campo">Código</label>
                    <input placeholder=". . ." type="number" id="codigo" class="campo" disabled>
                </div>
                <div class="div-campo">
                    <label for="valor-unitario" class="text-campo">V. Unitário</label>
                    <input placeholder="R$" type="number" id="valor-unitario" class="campo" disabled>
                </div>
                <div class="div-campo">
                    <label for="total" class="text-campo">Total</label>
                    <input placeholder="R$" type="number" id="total" class="campo">
                </div>
                <div class="div-campo">
                    <label for="descricao" class="text-campo">Descrição</label>
                    <input placeholder=". . ." type="text" id="descricao" class="campo">
                </div>
            </section>
            <section>
                <div class="table-wrapper">
                    <div class="table-responsive">
                        <table class="tabela">
                            <caption>Lista de Produtos</caption>
                            <thead>
                                <tr>
                                    <th>Seq.</th>
                                    <th>Código</th>
                                    <th>Descrição</th>
                                    <th>Preço</th>
                                    <th>Quant.</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody class="tabela-produtos">
                                <tr>
                                    <td>N/A</td>
                                    <td>N/A</td>
                                    <td>N/A</td>
                                    <td>N/A</td>
                                    <td>N/A</td>
                                    <td>N/A</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <form class="busca-form">
                                        <td colspan="7" class="busca-container">
                                            <input id="busca-input" class="input_busca" placeholder="Buscar Produtos..."
                                                type="text">
                                            <input placeholder="Quantidade" type="number" id="quantidade-input"
                                                class="input_busca">
                                        </td>
                                        <ul id="listaBusca" class="lista-busca"></ul>
                                    </form>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="quant-box">

                    <div class="total">
                        <label for="totalGeral" class="text-total">Total</label>
                        <input placeholder="R$" type="number" id="totalGeral" class="campo-total" disabled>
                        <button onclick="modal.showModal()" class="btn-total">Finalizar</button>

                        <!-- Modal Pagamentos-->

                        <dialog id="modal">
                            <section class="nav-modal">
                                <span>PAGAMENTO</span>
                                <div class="total_nav">
                                    <span>SUB-TOTAL</span>
                                    <input placeholder="R$" type="number">
                                </div>
                            </section>
                            <section class="container-modal">
                                <div class="campo-group-modal">
                                    <div class="campo-modal">
                                        <p>Descrição</p>
                                        <input class="campos_modal" type="text" placeholder=". . .">
                                    </div>
                                    <div class="campo-modal">
                                        <p>Acréscimo</p>
                                        <input class="campos_modal" type="text" placeholder="R$">
                                    </div>
                                </div>
                                <div class="campo-group-modal">
                                    <div class="campo-modal">
                                        <p>Pendente</p>
                                        <input class="campos_modal" type="text" placeholder="R$">
                                    </div>
                                    <div class="campo-modal">
                                        <p>Forma de Pagamento</p>
                                        <select class="select_modal" name="" id="">
                                            <option value="">Dinheiro</option>
                                            <option value="">Pix</option>
                                            <option value="">Deus lhe Pague</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="campo-top-modal">
                                    <div class="campo-modal">
                                        <p>Valor Total</p>
                                        <input class="campos_modal" type="number" placeholder="R$">
                                    </div>
                                    <div class="campo-modal">
                                        <p>Troco</p>
                                        <input class="campos_modal" type="number" placeholder="R$">
                                    </div>
                                </div>
                            </section>
                            <section>
                                <div class="footer-modal">
                                    <div class="btn-modal">
                                        <button onclick="modal.close()" class="btn-modal-final">RETORNAR</button>
                                        <button class="btn-modal-final">CLIENTE</button>
                                        <button class="btn-modal-final">FINALIZAR</button>
                                    </div>
                                </div>
                            </section>
                        </dialog>

                        <!-- Modal Pagamentos-->

                    </div>
                </div>

            </section>
        </div>
        <div class="conteudo-principal_2">
            <div class="layout">
                <div class="section-botoes">
                    <button class="botao1" tabindex="0">F2 - PRODUTOS</button>

                    <div class="botao-group">
                        <button class="botao2" tabindex="0">F3 - CAIXA</button>
                        <button class="botao3" tabindex="0">F4 - CANCELAR</button>
                    </div>
                    <button class="botao4" tabindex="0">F5 - RELATÓRIOS</button>
                </div>

                <div class="section-caixa">
                    <div class="titulo-caixa">RECEBIDO</div>
                    <input type="number" placeholder="R$" class="campos_final">
                </div>

                <div class="section-caixa">
                    <div class="titulo-caixa">TROCO</div>
                    <input type="number" placeholder="R$" class="campos_final" disabled>
                </div>
            </div>
        </div>
    </main>

    <!-- script area/links -->

    <script src="../../frontend/caixa_renderer.js"></script>
    <script src="../../features/atalhosTeclado.js"></script>
</body>

</html>