<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Principal</title>
    <link rel="stylesheet" href="principal.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lalezar&display=swap" rel="stylesheet">
</head>

<body>
    <header class="topo">
        <div class="topo-decoracao">
            <h1>ATACADINHO LIVRE</h1>
        </div>
    </header>
    <main class="conteudo-principal">
        <div class="conteiner">
            <section class="section-campo">
                <div class="div-campo">
                    <label for="codigo" class="text-campo">Código</label>
                    <input type="text" id="codigo" class="campo">
                </div>
                <div class="div-campo">
                    <label for="valor-unitario" class="text-campo">V. Unitário</label>
                    <input type="text" id="valor-unitario" class="campo">
                </div>
                <div class="div-campo">
                    <label for="total" class="text-campo">Total</label>
                    <input type="text" id="total" class="campo">
                </div>
                <div class="div-campo">
                    <label for="descricao" class="text-campo">Descrição</label>
                    <input type="text" id="descricao" class="campo">
                </div>
            </section>
            <section>
                <div class="table-wrapper"> 
                    <div class="table-responsive">
                        <table class="tabela">
                            <caption>Lista de Produtos</caption>
                            <thead>
                                <tr>
                                    <th>Seq.</th>
                                    <th>Código</th>
                                    <th>Descrição</th>
                                    <th>Preço</th>
                                    <th>Quant.</th>
                                    <th>UN</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>001</td>
                                    <td>Produto Exemplo</td>
                                    <td>R$ 10,00</td>
                                    <td>5</td>
                                    <td>Unidade</td>
                                    <td>R$ 50,00</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>001</td>
                                    <td>Produto Exemplo</td>
                                    <td>R$ 10,00</td>
                                    <td>5</td>
                                    <td>Unidade</td>
                                    <td>R$ 50,00</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>001</td>
                                    <td>Produto Exemplo</td>
                                    <td>R$ 10,00</td>
                                    <td>5</td>
                                    <td>Unidade</td>
                                    <td>R$ 50,00</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>001</td>
                                    <td>Produto Exemplo</td>
                                    <td>R$ 10,00</td>
                                    <td>5</td>
                                    <td>Unidade</td>
                                    <td>R$ 50,00</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>001</td>
                                    <td>Produto Exemplo</td>
                                    <td>R$ 10,00</td>
                                    <td>5</td>
                                    <td>Unidade</td>
                                    <td>R$ 50,00</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>001</td>
                                    <td>Produto Exemplo</td>
                                    <td>R$ 10,00</td>
                                    <td>5</td>
                                    <td>Unidade</td>
                                    <td>R$ 50,00</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>001</td>
                                    <td>Produto Exemplo</td>
                                    <td>R$ 10,00</td>
                                    <td>5</td>
                                    <td>Unidade</td>
                                    <td>R$ 50,00</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>001</td>
                                    <td>Produto Exemplo</td>
                                    <td>R$ 10,00</td>
                                    <td>5</td>
                                    <td>Unidade</td>
                                    <td>R$ 50,00</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>001</td>
                                    <td>Produto Exemplo</td>
                                    <td>R$ 10,00</td>
                                    <td>5</td>
                                    <td>Unidade</td>
                                    <td>R$ 50,00</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                  <td colspan="7">VALOR TOTAL: R$300,00</td>
                                </tr>
                              </tfoot>
                        </table>
                    </div>
                </div>
                <div class="quant-box">
                    <div class="div-campo-quanti">
                        <label for="descricao" class="text-campo">Quantidade</label>
                        <input type="text" id="descricao" class="campo">
                    </div>
                    <div class="total">
                        <label for="total" class="text-total">Total</label>
                        <input type="text" id="total" class="campo-total">
                        <button class="btn-total">Finalizar</button>
                    </div>
                </div>
            </section>
        </div>
    </main>
</body>

</html>
