<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos | ATACADINHO</title>
    <link rel="stylesheet" href="../../styles/cadastros/cadastroUser.css">

    <!-- scripts de notificacao -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <style>
        /* Personalização do botão dentro do Toastr */
        .toast .btn.clear {
            color: #fff;
            background-color: #004A8D;
            border: none;
            padding: 5px 10px;
            border-radius: 3px;
            cursor: pointer;
        }
        .toast .btn.clear:hover {
            background-color: #033666;
        }
    </style>
</head>
<body>
    <!-- Cabeçalho do Site -->
    <header class="container-header">
        <img src="../../../src/assets/img/senac_logo.png" alt="Logo do Senac">
        <hr>
        <p>ATACADINHO</p>
    </header>

    <main class="container-principal">
        <header>
            <h1>Cadastro do Usuário</h1>
        </header>
    
        <form class="formulario-cadastro-usuario">
            <section class="lado-esquerdo">
                <div class="campo">
                    <label for="campo-nome-completo" class="campo-nome">Nome Completo:</label>
                    <input type="text" id="campo-nome-completo" name="nome-completo" placeholder="Digite seu nome completo">
                </div>
                <div class="campo">
                    <label for="campo-senha" class="campo-usuario">Usuário:</label>
                    <input type="text" id="campo-usuario" name="usuario" placeholder="Digite seu usuário">
                </div>
                <div class="campo">
                    <label for="campo-senha" class="campo-senha">Senha:</label>
                    <input type="password" id="campo-senha" name="senha" placeholder="Digite sua senha">
                </div> 
                <div class="campo">
                    <label for="campo-cargo" class="campo-cargo">Cargo:</label>
                    <select id="campo-cargo" name="cargo">
                        <option disabled selected>Selecione seu Cargo</option>
                        <option value="1">Vendedor</option>
                        <option value="2">Gerente</option>
                        <option value="3">Administrador</option>
                    </select>
                </div>
            </section>
    
            <div class="lado-direito">
                <div class="campo">
                    <label for="campo-cpf" class="campo-cpf">CPF:</label>
                    <input type="text" id="campo-cpf" name="cpf" placeholder="000.000.000-00">
                </div>
                <div class="campo">
                    <label for="campo-confirme-senha" class="campo-confirmar">Confirme a Senha:</label>
                    <input type="password" id="campo-confirme-senha" name="confirme-senha" placeholder="Confirme sua senha">
                </div>
            </div>
    
            
        </form>
        <div class="grupo-botoes">
            <button type="submit" class="botao botao-salvar" id="btn-cad">Cadastrar - F5</button>
            <button type="reset" class="botao botao-limpar" id="limparBtn">Limpar Tela - F3</button>
            <button type="button" class="botao botao-cancelar"><a href="../user/login.html" style="text-decoration: none; color: #000;">Cancelar - F4</a></button>
        </div>
    </main>
    
    <script>
        document.getElementById("limparBtn").addEventListener("click", function() {
            let inputs = document.querySelectorAll("input, select");
            inputs.forEach(function(input) {
                if (input.type === "radio" || input.type === "checkbox") {
                    input.checked = false;  
                } else {
                    input.value = ""; 
                }
            });
        });
    </script>

    <script src="../../../src/frontend/user/cadastroUser.js"></script>

</body>
</html>