@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
} */

.btn-abertura {
    width: 200px;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid ;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.abrir {
    background-color: #ffc680;
    color: black;
}

.abrir:hover {
    background-color: #e49d46 !important;
    transform: scale(1.05);
}

.btn-abertura .cancelar {
    background-color: #c04f4f !important;
    color: rgb(197, 28, 28);
    border: 3px solid ;
}

.cancelar:hover {
    background-color: #f27676;
    transform: scale(1.05);
}

.modal-abertura {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 1000 !important;
}
/* Modal content */
.modal-content-abertura {
    background-color: white;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.header-abertura {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.divider-abertura {
    width: 93%;
    border: 1px solid orange;
    margin: 10px auto;
}

.content-abertura {
    margin: 20px 0;
}

label {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

/* Improved input styling */
#valor-abertura {
    width: 80%;
    padding: 12px 15px;
    border: 1px solid #000000;
    border-radius: 8px;
    font-size: 16px;
    background-color: #FFD8A9;
    color: #000000;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

#valor-fechamento{
    width: 80%;
    padding: 12px 15px;
    border: 1px solid #000000;
    border-radius: 8px;
    font-size: 16px;
    background-color: #FFD8A9;
    color: #000000;
    transition: all 0.3s ease;
    box-sizing: border-box;
    margin-left: 55px;
}

/* Input focus effect */
#valor-abertura:focus {
    border-color: #000000;
    outline: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

#valor-abertura::placeholder {
    color: #000000;
    font-style: italic;
}

.buttons-abertura {
    margin-top: 20px;
}
