/*paciência*/

body {
    background-color: #D9C091;
    margin: 0;
    padding: 0;
}

input,
select {
    border-radius: 5px !important;
}


/* & - Variaveis */

:root {

    /* TODO - Cores */

    --cor-principal: #708C89;
    --cor-secundaria: #D9C091;
    --cor-cinza: #D9D9D9;
    --cor-branca: #FFFFFF;

    /* ! - Fontes */

    --fonte-menor: 1rem;
    --fonte-media: 2rem;
    --fonte-maior: 3rem;

}

.container {
    max-width: 90%;
    margin: 0 auto;
}

#filtroForm {
    width: 100%;
    max-width: 1420px;
    /* Ajuste a largura máxima conforme necessário */
    margin: 0 auto;
    background-color: #D9D9D9;
}

.columns {
    /* Usa flexbox para criar uma coluna com largura fixa */
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    padding-left: 2rem;
    padding-right: 2rem;
}

.btn {
    color: var(--cor-branca);
    background-color: var(--cor-principal);
    border-radius: 5px;
    width: 200px;
    height: 60px;
    border: none;
    text-decoration: none;
    text-align: center;
    font-size: 1.3rem;
}

.btn:hover {
    background-color: #87A09D;
}

.btn-busca{
width: 130px;
}

.buscar {
    display: flex;
    justify-content: end;
    align-items: end;
    margin-bottom: 20px;
    margin-top: 12px;
}

.gerar {
    display: flex;
    margin-bottom: 20px;
    margin-top: 12px;
}

.carousel-inner {
    text-align: center;
}

#divcont {
    background-color: #708c89;
    width: 100vw;
    height: 100px;
}

#title {
    color: aliceblue;
}

#filtroTitle {
    background-color: #708c89;
    display: flex;
    width: 125px;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 25px 0px;
    /* Centraliza o texto verticalmente */

}

.buttonAddProduct {
    display: flex;
    background-color: #D9D9D9;
    border-radius: 5px;
    border: none;
    align-items: center;
    justify-content: center;
    width: 175px;
    height: 50px;
    /* Alinha o botão ao final do contêiner */
}

.buttonAddProduct:hover {
    background-color: #8eb5b1;
    border: #D9D9D9 solid 2px;
    transition: 0.5s;
}

.form-control {
    display: flex;
    width: 100%;
}

.card {
    background-color: #708c89;
}

@media (max-width: 768px) {
    #filtroForm {
        width: 90%;
    }

    .btn {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .container {
        padding: 0 15px;
    }

    #filtroForm {
        width: 100%;
    }

    .carousel-item h3 {
        font-size: 1.2rem;
    }
}