<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDV - Atacadinho</title>
    <link rel="stylesheet" href="../../../src/styles/pdv/sangria.css">
    <link rel="stylesheet" href="../../../src/styles/pdv/pdv.css">
    <link rel="stylesheet" href="../../../src/styles/pdv/modalAbertura.css">
    <link rel="stylesheet" href="../../../src/styles/pdv/fechar_caixa.css">
    <link rel="stylesheet" href="../../../src/styles/pdv/modalPagamento.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- scripts de plugin para o select com input de pesquisa -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

</head>

<body>

    <!-- Cabeçalho do Site -->
    <header class="container-header">
        <img src="../../../src/assets/img/senac_logo.png" alt="Logo do Senac">
        <hr>
        <p>ATACADINHO</p>
        <div class="botoes-navegacao">
            <hr>
            <a href="../../../src/views/pdv/pdv.html">
                <button class="botao-navegacao" title="Ponto de Vendas (F1)">PDV (F1)</button>
            </a>
            <hr>
            <a href="../../../src/views/user/login.html">
                <button class="botao-navegacao" title="Login (F2)">LOGIN (F2)</button>
            </a>
            <hr>
            <a href="../../../src/views/registros/relatorios.html">
                <button class="botao-navegacao" title="Relatórios (F3)">RELATÓRIOS (F3)</button>
            </a>
            <hr>
            <a href="../../../src/views/cadastros/cadastroDeProdutos.html">
                <button class="botao-navegacao" title="Cadastro de Produtos (F9)">CADASTRO (F9)</button>
            </a>
            <hr>
            <a href="../../../src/views/registros/listagem-Produtos.html">
                <button class="botao-navegacao" title="Listagem de Produtos (F10)">LISTAGEM (F10)</button>
            </a>
            <hr>
        </div>
    </header>

    <!-- Modal de abertura caixa -->
      <div id="modal-abertura" class="modal-abertura">
        <div class="modal-content-abertura">
            <div class="header-abertura">
                <span id="dataHora-abertura">06 DE NOVEMBRO DE 2024 - HORÁRIO: <span id="time">14:46:19</span></span>
                <hr class="divider-abertura">
            </div>
            <div class="content-abertura">
                <label for="valor">DIGITE O VALOR EM CAIXA:</label>
                <input type="text" id="valor-abertura" placeholder="R$">
            </div>
            <div class="buttons-abertura">
                <button id="btn-abrir-caixa" class="btn-abertura abrir">ABRIR O CAIXA ( F1 )</button>
            </div>
        </div>
    </div>  

    <!-- titulo - vendas -->
    <section id="secao-vendas">
        <!-- <input type="text" class="input-busca"  placeholder="Buscar produtos"> -->
        <form action="" class="form-busca-produtos" id="busca-produto-form">
            <select class="js-example-basic-single" name="select-busca-produto" id="select-busca-produto">
                <option value="" selected="selected">Buscar produtos</option>
                <option value="Queijo">Sabão em Pó Omo Multi 1K</option>
                <option value="">Arroz Branco Tipo 1 5Kg</option>
            </select>
            <label for="quantidade" class="label-quantidade">Quant:</label>
            <input type="number" name="quantidadeProduto" id="quantidadeProduto" class="input-quantidade" min="1" placeholder="1">
        </form>
    </section>

    <!-- Tabela PDV -->
    <section class="tabela-vendas">
        <table>
            <thead>
                <tr>
                    <th>Produtos:</th>
                    <th>Quantidade:</th>
                    <th>Preço:</th>
                    <th>Total:</th>
                    <th>Ações:</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <footer class="resumo-vendas">
            <span></span>
        </footer>
    </section>

    <!-- seção final -->
    <section class="secao-final">
        <div class="botao-container">
            <hr>
            <button>DESCONTO (F7)</button>
            <hr>
            <button id="openModal-sangria">SANGRIA (F9)</button>
            <hr>
            <button id="btn-concluir-venda openModal-pagamento">CONCLUIR (F6)</button>
            <hr>
            <button id="abrir-modal-fechamento">FECHAR (F8)</button>
            <hr>
        </div>
        <div class="total-container">
            <div id="total-vendas"></div>
        </div>
    </section>

    <!-- modal de aviso de fechamento de caixa -->

    <div class="sobreposicao-modal-fechamento" id="sobreposicao-modal-fechamento">
        <div class="modal-fechamento">
            <div class="cabecalho-modal-fechamento">
                <img src="../../../src/assets/img/alerta 3.png" alt="Ícone de alerta">
                <span>Tem certeza que deseja fechar o caixa?</span>
            </div>
            <div class="botoes-modal-fechamento">
                <button class="btn-sim-fechamento" id="btn-sim-fechamento">SIM (ENTER)</button>
                <button class="btn-nao-fechamento" id="btn-nao-fechamento">NÃO (ESC)</button>
            </div>
        </div>
    </div>

    <!-- Modal Fechamento-->
  <div id="modalFechamento" class="modal">
    <div class="modal-conteudo">
      <header>
        <p id="dataHora">06 DE NOVEMBRO DE 2024 - HORÁRIO: 18:46:19</p>
        <hr>
      </header>
      
      <main>
        <form>
          <div class="grupo-checkbox">
            <label><input type="checkbox"> Vendas Canceladas</label>
            <label><input type="checkbox"> Cartão de Débito</label>
            <label><input type="checkbox"> Cartão de Crédito</label>
            <label><input type="checkbox"> Sangrias</label>
            <label><input type="checkbox"> Dinheiro</label>
          </div>

          <div class="content-abertura">
            <label for="valor">DIGITE O VALOR EM CAIXA:</label>
            <input type="text" id="valor-fechamento" placeholder="R$ 00,00">
        </div>

          <div class="botoes">
            <button type="button" id="btn-fechar-caixa" class="btn btn-fechar">FECHAR CAIXA (F1)</button>
            <button type="button" id="fecharModalBtn" class="btn btn-cancelar">CANCELAR (ESC)</button>
          </div>
        </form>
      </main>
    </div>
  </div>

  <!-- Modal Sangria -->
  <div id="modal-sangria" class="modal">
    <div class="modal-content">
        <div class="header">
            <span id="dataHora-sangria">06 DE NOVEMBRO DE 2024 - HORÁRIO: <span id="time-sangria">14:46:19</span></span>
            <hr class="divider">
        </div>
        <div class="content">
            <label for="valor-sangria">DIGITE O VALOR DA SANGRIA:</label>
            <input type="text" id="valor-sangria" placeholder="R$ 00,00">
        </div>
        <div class="content">
            <label for="observacao-sangria">OBSERVAÇÃO:</label>
            <input type="text" id="observacao-sangria" placeholder="Adicione o motivo da sangria">
        </div>
        <div class="buttons">
            <button id="btn-cad-sangria" class="btn-sangria abrir">SALVAR ( F1 )</button>
            <button id="closeModal-sangria" class="btn-sangria cancelar">CANCELAR ( ESC )</button>
        </div>
    </div>
</div>

    <!-- Modal Pagamento -->
    <section id="modal-pagamento" class="modal-pagamento">
        <div class="modal-content-pagamento">
            <div class="header-pagamento">
                <h2>Total a Pagar</h2>
                <p id="valorPagar" class="valor-pagar"></p>
                <p id="descontoPagar" class="desconto-pagar"></p>
            </div>

            <div class="content-pagamento">
                <div class="forma-pagamento">
                    <div class="forma-item">
                        <span>DINHEIRO</span>
                        <input type="text" id="dinheiro" placeholder="0,00">
                    </div>

                    <div class="forma-item">
                        <span>CARTÃO DE CRÉDITO</span>
                        <input type="text" id="cartao-credito" placeholder="0,00">
                    </div>

                    <div class="forma-item">
                        <span>CARTÃO DE DÉBITO</span>
                        <input type="text" id="cartao-debito" placeholder="0,00">
                    </div>

                    <div class="forma-item">
                        <span>CHEQUE</span>
                        <input type="text" id="cheque" placeholder="0,00">
                    </div>

                    <div class="forma-item">
                        <span>PIX</span>
                        <input type="text" id="pix" placeholder="0,00">
                    </div>
                </div>

                <p id="trocoPagar" class="troco-pagar"><span>Troco: R$ </span> 0,00</p>
            </div>

            <div class="buttons-pagamento">
                <button class="btn-pagamento abrir">CONCLUIR (F2)</button>
                <button id="closeModal-pagamento" class="btn-pagamento cancelar">CANCELAR (ESC)</button>
            </div>
        </div>
    </section>

    <section id="modal-concluido" class="modal-pagamento">
        <div class="modal-content-pagamento">
            <h2>Venda Feita!</h2>
            <div class="icon-container">
                <div class="icon-wrapper">
                    <i class="fas fa-check-circle"></i>
                </div>
            </div>
            <p class="valor-compra"></p>
            <p class="valor-troco"></p>
            <button id="closeModal-concluido" class="btn-pagamento abrir">Nova Venda</button>
        </div>
    </section>

    <script src="../../../src/frontend/pdv/pdv.js"></script>
    <script src="../../../src/frontend/pdv/fechar_caixa.js"></script>
    <script src="../../../src/frontend/pdv/sangria.js"></script>
    <script src="../../../src/frontend/pdv/pagamento.js"></script>

    <!-- script responsavel pelo select com input de pesquisa -->
    <script>
        $(document).ready(function () {
            $('.js-example-basic-single').select2({
                width: '100%'
            });
        });
    </script>
</body>

</html>